@import "bourbon"
// @import "vars.sass"
@import "_var.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #fff
	opacity: 1

*:-moz-placeholder
	color: #fff
	opacity: 1

*::-moz-placeholder
	color: #fff
	opacity: 1

*:-ms-input-placeholder
	color: #fff
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #fff
body input:required:valid,
body textarea:required:valid
	color: #fff

.homesect
	padding-top: 70px
	background-color: #F9F9F9
	position: relative
	a
		&:hover
			text-decoration: none
	.section-head
		margin-bottom: 80px
		p
			margin-top: 60px
			a
				font-family: "RalewayBold", $helvetica
		h2
			text-align: center
			position: relative
			&::after
				position: absolute
				content: ''
				height: 4px
				background-color: $main-color
				width: 165px
				display: block
				bottom: -30px
				left: 50%
				transform: translate(-50%, 0)

	.section-bottom
		margin-top: 70px
		background-color: #E5E5E5
		padding: 50px 0
		text-align: center
	
	&::before
		content: ''
		height: 6px
		width: 100%
		position: absolute
		top: -6px
		background-image: url("../img/bah_1.png")


//ALWAYS END
@import "media"
