@import "bourbon"
// @import "vars.sass"
@import "_var.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #fff
	opacity: 1

*:-moz-placeholder
	color: #fff
	opacity: 1

*::-moz-placeholder
	color: #fff
	opacity: 1

*:-ms-input-placeholder
	color: #fff
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #fff
body input:required:valid,
body textarea:required:valid
	color: #fff

.homesect
	padding-top: 70px
	background-color: #F9F9F9
	position: relative
	a
		&:hover
			text-decoration: none
	.section-head
		margin-bottom: 80px
		p
			margin-top: 60px
			animation-delay: .4s
			a
				font-family: "RalewayBold", $helvetica
		h2
			text-align: center
			position: relative
			&::after
				position: absolute
				content: ''
				height: 4px
				background-color: $main-color
				width: 165px
				display: block
				bottom: -30px
				left: 50%
				transform: translate(-50%, 0)

	.section-bottom
		background-color: #E5E5E5
		padding: 50px 0
		text-align: center
	
	&::before
		content: ''
		height: 6px
		width: 100%
		position: absolute
		top: -6px
		background-image: url("../img/bah_1.png")

.section-content
	min-height: 295px
	margin-bottom: 30px

/* Бухгалтерские услуги */

.s_dark
	background-color: #2C3949
	&:before
		background-image: url(../img/bah_2.png)
	.section-head
		h2
			color: #fff
		p
			color: #F5F5F5
/* /Бухгалтерские услуги */

/* Slider */
.slider
	.slide
		.day
			background-color: $main-color
		h4
			font-size: em(24px)
			text-align: center
			margin: 0
		p
			text-align: center
			margin: 0
			// font-size: em(20px)
		.base_item
			font-weight: bold
		.section_grey
			background-color: #e5e5e5
			&:hover
				background-color: #ccc
		.section_light
			&:hover
				background-color: #ccc
/* /Slider */
.main-footer
	padding-bottom: 60px
	.logo
		opacity: .35
	.main-mnu
		a
			color: #C7C9CC

.top
	height: 36px
	background-color: #1F2B3A
	background-image: url("../img/top.png")
	background-repeat: no-repeat
	background-position: center
	cursor: pointer

//ALWAYS END
@import "media"
